
body {
  background-color: #a79dba;
}

.first {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../Assets/phone.JPG") fixed no-repeat;
  height: 100vh;
  background-attachment: scroll;
  background-size: cover;
  background-position: right;

}

.title {
  color: white;
  left: 50%;
}

#menu {
  background-color: rgba(157, 186, 176, 0.8);
}

fieldset {
  border: none;
}

legend {
  margin-left: 20px;
  background-color: #a79dba;
  border-radius: 5px;
  padding: 2px 5px;
  border: 1px black solid;
}

.puts:focus {
  border: 1px solid black;
  transition: ease 0.6s;
}

.contact {
  border:2px solid black;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  position: absolute;
  top: 15%;
  max-width: 30%;
  left: 4%;
  background-color: rgba(157, 186, 176, 0.8);
}

.puts {
  border-radius: 5px;
  border: 1px solid darkgray;
  padding: 5px;
  margin: 5px;
  outline: none;
  transition: ease 0.6s;
}

#send {
  border: 1px solid #4F4144;
  color: #4F4144;
  border-radius: 8px;
  margin: 5px;
  padding: 5px 10px;
  background-color: #a79dba;
  transition: ease 0.6s;
  outline: none;
}

#send:hover {
  background-color: #C9CDAD;
  transition: ease 0.6s;
}

@media only screen and (max-width: 672px) {
  #shrink { width: 162px; }
  .first {
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (max-width: 850px) {
  .contact { min-width: 80%; max-width: 80%; }
  .title { visibility: hidden; }
}

@media only screen and (min-width: 1500px) {
  .puts { font-size: 24px; }
}
