
body {
  background-color: #a79dba;
}

.first {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../Assets/pot.jfif") fixed no-repeat;
  height: 100vh;
  background-attachment: scroll;
  background-size: contain;
  background-position: right;
}

.title {
  color: white;
  left: 50%;
}

#menu {
  background-color: rgba(157, 186, 176, 0.8);
}

.desc {
  position: absolute;
  top: 20%;
  max-width: 25%;
  left: 3%;
  background-color: rgba(157, 186, 176, 0.8);
  border: 1px solid black;
  border-radius: 5px;
}

.list { margin-left: 7%; }

@media only screen and (max-width: 870px) {
  .first {
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (max-width: 672px) {

  .desc { min-width: 90%; max-width: 90%; }
  .title { visibility: hidden; }
  .first {
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (max-width: 850px) {
  .desc { min-width: 80%; max-width: 80%; }
  .title { visibility: hidden; }
}

@media only screen and (min-width: 2400px) {
  .desc {
    max-width: 17%;
    font-size: 24px;
  }
}
